<!DOCTYPE html>
<html>
<head>
  <title>Create a New Campus</title>
</head>
<body>
	<ul>
		<% @campus.each do |campus| %>
			<li><%= campus['campus_name'] %></li>
		<% end %>
	</ul>
  <form action="/campus" method="GET">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>
